@font-face {
  src: url("../fonts/arialln.woff");
  font-family: "Arial Narrow";
}

@font-face {
  src: url("../fonts/ariallnb.woff");
  font-family: "Arial Narrow Bold";
}

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

@media (max-width: 576px) {
  p {
    letter-spacing: -0.3px;
  }

  h1 strong {
    letter-spacing: -1.5px;
  }
}

/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  p {
    letter-spacing: 0 !important;
  }

  h1 strong {
    letter-spacing: 0 !important;
  }
}

.sub-menu--closed {
  display: none;
  max-height: 0;
  transition: max-height 1s;
}

.sub-menu--open {
  display: block;
  max-height: 99;
  transition: max-height 1s;
}

.fixed-ticker .ticker {
  font-family: "Arial Narrow";
  color: rgb(16, 246, 47);
  background-color: black;
  white-space: nowrap;
}

.standard-ticker .ticker {
  font-family: "Arial Narrow";
  color: white;
  background-color: black;
  white-space: nowrap;
}

.standard-ticker .ticker__element {
  top: 3px !important;
}

.fixed-ticker .ticker__element {
  top: 2px !important;
}

.ticker h1 {
  padding-left: 25px;
}

.show {
  opacity: 1;
  transition-duration: 1s;
}

.hide {
  opacity: 0;
  transition-duration: 1s;
}

.active-menu-element {
  color: rgb(255, 55, 252) !important;
}

strong {
  font-weight: bold !important;
}
